name: CI Advanced

on:
  push:
    paths:
      - 'MLProject/**'

jobs:
  advanced:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn docker

      - name: Run MLflow Project
        run: mlflow run MLProject --env-manager=local

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t logreg-mlflow MLProject

      - name: Push Docker Image
        run: |
          docker tag logreg-mlflow ${{ secrets.DOCKER_USERNAME }}/logreg-mlflow:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/logreg-mlflow:latest
