name: CI Advanced

on:
  push:
    paths:
      - 'MLProject/**'

jobs:
  advanced:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install MLflow
        run: |
          pip install --upgrade pip
          pip install mlflow pandas scikit-learn

      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      - name: Build Docker Image with MLflow
        run: |
          mlflow build-docker MLProject -n ${{ secrets.DOCKER_USERNAME }}/logreg-mlflow

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/logreg-mlflow:latest
